<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"blockGap":"0"}},"backgroundColor":"custom-primary","layout":{"type":"default"}} -->
<div class="wp-block-group has-custom-primary-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-accent"}}},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","left":"var:preset|spacing|60","right":"0","bottom":"20rem"}},"typography":{"fontSize":"8rem","fontStyle":"italic","fontWeight":"700"}},"backgroundColor":"custom-contrast","textColor":"custom-accent","fontFamily":"noto-serif"} -->
<p class="has-custom-accent-color has-custom-contrast-background-color has-text-color has-background has-link-color has-noto-serif-font-family" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:20rem;padding-left:var(--wp--preset--spacing--60);font-size:8rem;font-style:italic;font-weight:700"><strong><em>404.</em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:heading {"level":1,"align":"wide"} -->
<h1 class="wp-block-heading alignwide">Oh no! We couldn’t find that page!</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"wide","style":{"typography":{"textAlign":"center"}}} -->
<p class="has-text-align-center alignwide">Not to worry, you can try searching our website or seeing if any of the links below are helpful.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","showLabel":false,"placeholder":"Search the site...","widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","align":"center","className":"alignwide","backgroundColor":"custom-primary"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading -->
<h2 class="wp-block-heading">Latest News</h2>
<!-- /wp:heading -->

<!-- wp:latest-posts /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->